<a href="https://colab.research.google.com/github/PapiCamiloRu08/PROGCOM-A/blob/main/Clase_2_Estructuras_de_repetici%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Estrcuturas de repetición
Permite repetir una o mas accciones de aucerdo a una condicion

##Estrucutura para - for

1. Cuand se sabe cuántas veces se repite una accion.
2. Está conformado por una condicion inicial (CI) una condicion final (CF) y pasos (frecuencia de repeticion).
3. Esta esctrucutra no se detendrá, hasta alcnazar CF-1

ESTRCTURA GENERAL DEL (FOR)

```
for(variable) in range(CI,CF+1,paso):
    Se repite (CF+1-CI)/paso veces una acción.

```

ESTRCUTURA RESUMIDA DEL (FOR)
```
for(variable) in range(cantidad):
    Se repite cantidad veces una acción.

```
ETRCUTURA (FOR) COMO INTERACION
1. El para (for) itera tantas veces, como leementos tenga la lista
2. La variable toma el valor de cada elemento de la lista por intreracion


```
Lista =[1,2,3,4,5]
    Se repite len(Lista)
```

In [5]:
#Hcaer la tabla de multiplicar del numero (n)
n= int(input("Digite su numero: "))
print(f"Tabla del {n}")
for(numeritos) in range(1,11,1):
    print(f"{numeritos} x {numeritos} = {n*numeritos}")

Digite su numero: 1
Tabla del 1
1 x 1 = 1
2 x 2 = 2
3 x 3 = 3
4 x 4 = 4
5 x 5 = 5
6 x 6 = 6
7 x 7 = 7
8 x 8 = 8
9 x 9 = 9
10 x 10 = 10

In [19]:

print("Tabla del 1 - 10\n")
print("")
for tabla in range(1,11):
    print(f"Tabla del {tabla}")
    for numero in range(1,11):
        print(f" {tabla} x {numero} = {tabla*numero}")
print("")

Tabla del 1 - 10


Tabla del 1
 1 x 1 = 1
 1 x 2 = 2
 1 x 3 = 3
 1 x 4 = 4
 1 x 5 = 5
 1 x 6 = 6
 1 x 7 = 7
 1 x 8 = 8
 1 x 9 = 9
 1 x 10 = 10
Tabla del 2
 2 x 1 = 2
 2 x 2 = 4
 2 x 3 = 6
 2 x 4 = 8
 2 x 5 = 10
 2 x 6 = 12
 2 x 7 = 14
 2 x 8 = 16
 2 x 9 = 18
 2 x 10 = 20
Tabla del 3
 3 x 1 = 3
 3 x 2 = 6
 3 x 3 = 9
 3 x 4 = 12
 3 x 5 = 15
 3 x 6 = 18
 3 x 7 = 21
 3 x 8 = 24
 3 x 9 = 27
 3 x 10 = 30
Tabla del 4
 4 x 1 = 4
 4 x 2 = 8
 4 x 3 = 12
 4 x 4 = 16
 4 x 5 = 20
 4 x 6 = 24
 4 x 7 = 28
 4 x 8 = 32
 4 x 9 = 36
 4 x 10 = 40
Tabla del 5
 5 x 1 = 5
 5 x 2 = 10
 5 x 3 = 15
 5 x 4 = 20
 5 x 5 = 25
 5 x 6 = 30
 5 x 7 = 35
 5 x 8 = 40
 5 x 9 = 45
 5 x 10 = 50
Tabla del 6
 6 x 1 = 6
 6 x 2 = 12
 6 x 3 = 18
 6 x 4 = 24
 6 x 5 = 30
 6 x 6 = 36
 6 x 7 = 42
 6 x 8 = 48
 6 x 9 = 54
 6 x 10 = 60
Tabla del 7
 7 x 1 = 7
 7 x 2 = 14
 7 x 3 = 21
 7 x 4 = 28
 7 x 5 = 35
 7 x 6 = 42
 7 x 7 = 49
 7 x 8 = 56
 7 x 9 = 63
 7 x 10 = 70
Tabla del 8
 8 x 1 = 8
 8 x 2 = 16
 8 x 3 = 24
 8 x 4 = 32
 8 x 5 = 40
 8 x 6 = 48
 8 x 7 = 56
 8 x 8 = 64
 8 x 9 = 72
 8 x 10 = 80
Tabla del 9
 9 x 1 = 9
 9 x 2 = 18
 9 x 3 = 27
 9 x 4 = 36
 9 x 5 = 45
 9 x 6 = 54
 9 x 7 = 63
 9 x 8 = 72
 9 x 9 = 81
 9 x 10 = 90
Tabla del 10
 10 x 1 = 10
 10 x 2 = 20
 10 x 3 = 30
 10 x 4 = 40
 10 x 5 = 50
 10 x 6 = 60
 10 x 7 = 70
 10 x 8 = 80
 10 x 9 = 90
 10 x 10 = 100

In [20]:
print(f"Tbalas del {n}")
for holitas in range(10):
    print(f"{n} x {holitas+1} = {n*(holitas+1)}")

Tbalas del 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [60]:
n= int(input("Digite su numero: "))
print(f"Tabla del {n}")
for(numeritos) in range(1,11*n,n):
    print(f"{n} x {int(numeritos/n)} = {(n)*(int(numeritos/n))}")

Digite su numero: 3
Tabla del 3
3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [61]:
numeros=[1,2,3,4,5,6,7,8,9,10]
for num in numeros:
    print(f"{n} x {num} = {(n)*(num)}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30