<a href="https://colab.research.google.com/github/PapiCamiloRu08/PROGCOM-A/blob/main/Clase_3_Funciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Funciones
Copiado dinámico.
Dió nacimiento a un nuevo paradigma de programación modular.
##Forma general de programar funciones.

```
def (nombre_de_función)(p,p2,p3...pn):
  donde p,p2,p3...pn: son parámetros
```

1. list()
2. len()
3. print()
4. append()
5. int()
6. input()

##Tipo de funciones
1. Sin parámetros, sin entorno
2. Sin parámetros, con retorno
3. Con parámetros, sin retorno
4. Con parámetros, con entorno

###1.Sin parámetros, sin entorno
Se emplea como copiado dinámico

In [3]:
#Ejemplo: Entrada de cajero electrónico
def cajero(): #Esto significa que es sin parámetros
  print("Bienvenido a BnacoUNAB")
  print("Estas son las operaciones que se pueden realizar")
  print("1. Retirar\n2. Transferencias\n3. Denunciar\n4. Opereciones sin tarjeta")

In [4]:
a = input(cajero())

Bienvenido a BnacoUNAB
Estas son las operaciones que se pueden realizar
1. Retirar
2. Transferencias
3. Denunciar
4. Opereciones sin tarjeta
Nonejaja

###2.Sin parámetros, con retorno

In [8]:
def cajero2(): #Esto significa que es sin parámetros
  print("Bienvenido a BANCOUNAB")
  print("Estas son las operaciones que se pueden realizar")
  print("1. Retirar\n2. Transferencias\n3. Denunciar gei\n4. Opereciones sin tarjeta")
  rta=input("ingresa una opción ")
  return rta

In [9]:
cajero2()

Bienvenido a BANCOUNAB
Estas son las operaciones que se pueden realizar
1. Retirar
2. Transferencias
3. Denunciar gei
4. Opereciones sin tarjeta
ingresa una opción 3

'3'

In [10]:
rta=cajero()

Bienvenido a BnacoUNAB
Estas son las operaciones que se pueden realizar
1. Retirar
2. Transferencias
3. Denunciar
4. Opereciones sin tarjeta

In [ ]:
type(rta)

NoneType

###Con parametros, sin retorno

In [12]:
#Ejemplo:el area de un rectángulo
def ab(u,du):
  print(f"El área de un rectángulo de base {u} y altura {du} es {u*du}")

In [13]:
a=ab(5,3)

El área de un rectángulo de base 5 y altura 3 es 15

In [14]:
print(a)

None

###4.Con parámetros, con entorno

In [15]:
def area_rectangulo(u,du):
  return f"El área de un rectángulo de base {u} y altura {du} es {u*du}"

In [18]:
a=area_rectangulo(35,85)

In [19]:
print(a)

El área de un rectángulo de base 35 y altura 85 es 2975

##Funciones anonimas o lambda
1. Siempre usan parámetros
2. Siempre genera retorno
3. No tienen nombre -->anónimas
4. **Se puede emplear n parámetros, pero sólo ejecuta una línea de codigo**
###Defición de funciones LAMBDA

```
variable=lambda (p,p1,p2...pn)
operación
```

In [21]:
#Ejemplo: calcular el área de un triangulo
area_triangulo=lambda a,b:a+a*b/2

In [22]:
area_triangulo(79,8)

395.0

In [24]:
x=int(input("Ingrese la altura de un triangulo: "))
y=int(input("Ingrese la base de un triangulo: "))
area_triangulo(x,y)

Ingrese la altura de un triangulo: 20
Ingrese la base de un triangulo: 40

420.0

In [25]:
area_circulo=lambda b:3.14*b**2

In [27]:
area_circulo(50)

7850.0

In [28]:
valor=lambda a,b,c:(max(a,b,c))
valor(3,6,9)

9

In [29]:
valor(3,6,9)

9

##1

In [ ]:
def cuadrado(a):
  return f"El cuadrado de {a} es {a**2}"
a=cuadrado(5)
print(a)

El cuadrado de 5 es 25

In [ ]:
cuadrado=lambda a:(a**2)
cuadrado(5)

25

##2

In [42]:
import random
def saludo(gab):
    gei = [
        f"Hola {gab}, ¡qué alegría verte hoy!",
        f"Bienvenido {gab}, espero que tu día sea increíble.",
        f"¡Hola {gab}! Te estaba esperando con mucha energía positiva.",
        f"Saludos cordiales, {gab}. ¡Que todo te vaya excelente!",
        f"¡Muy buenos días, {gab}! :)",
        f"Qué gusto saludarte, {gab}. ¡Vamos por un gran día!",
        f"{gab}, recuerda que eres una persona única y especial.",
        f"¡Hola {gab}! Hoy es un gran día para sonreír.",
        f"Bienvenido {gab}, que la luz te acompañe siempre.",
        f"¡Hey {gab}! Me alegra mucho verte por aquí.",
        f"Hola {gab}, que cada paso que des hoy te acerque a tus sueños.",
        f"¡Saludos, {gab}! Que tengas un día lleno de magia.",
        f"{gab}, eres una fuente de inspiración para los demás.",
        f"¡Hola {gab}! Que la alegría sea tu compañera hoy.",
        f"Bienvenido {gab}, ¡gracias por estar aquí!",
        f"Qué honor tenerte aquí, {gab}. ;)",
        f"¡Hola {gab}! Nunca olvides lo valioso que eres.",
        f"Saludos cálidos para ti, {gab}.",
        f"Hola {gab}, ¡hoy es un día perfecto para empezar algo nuevo!",
        f"¡Hola querido {gab}! Estoy feliz de compartir este momento contigo."
    ]
    return random.choice(gei)
print(saludo("Camilito"))

¡Hola Camilito! Te estaba esperando con mucha energía positiva.

In [43]:
import random
saludos=lambda gab: random.choice([ f"Hola {gab}, ¡qué alegría verte hoy!",
        f"Bienvenido {gab}, espero que tu día sea increíble.",
        f"¡Hola {gab}! Te estaba esperando con mucha energía positiva.",
        f"Saludos cordiales, {gab}. ¡Que todo te vaya excelente!",
        f"¡Muy buenos días, {gab}! :)",
        f"Qué gusto saludarte, {gab}. ¡Vamos por un gran día!",
        f"{gab}, recuerda que eres una persona única y especial.",
        f"¡Hola {gab}! Hoy es un gran día para sonreír.",
        f"Bienvenido {gab}, que la luz te acompañe siempre.",
        f"¡Hey {gab}! Me alegra mucho verte por aquí.",
        f"Hola {gab}, que cada paso que des hoy te acerque a tus sueños.",
        f"¡Saludos, {gab}! Que tengas un día lleno de magia.",
        f"{gab}, eres una fuente de inspiración para los demás.",
        f"¡Hola {gab}! Que la alegría sea tu compañera hoy.",
        f"Bienvenido {gab}, ¡gracias por estar aquí!",
        f"Qué honor tenerte aquí, {gab}. ;)",
        f"¡Hola {gab}! Nunca olvides lo valioso que eres.",
        f"Saludos cálidos para ti, {gab}.",
        f"Hola {gab}, ¡hoy es un día perfecto para empezar algo nuevo!",
        f"¡Hola querido {gab}! Estoy feliz de compartir este momento contigo."])
saludos("Camilito")

'Camilito, recuerda que eres una persona única y especial.'

##3

In [44]:
def ma(a,b):
  print(f"La suma de {a} + {b} es {a+b}")
  print(f"La resta de {a} - {b} es {a-b}")
  print(f"La multiplicación de {a} + {b} es {a*b}")
  print(f"La divición de {a} + {b} es {a/b}")
ma(2,9)

La suma de 2 + 9 es 11
La resta de 2 - 9 es -7
La multiplicación de 2 + 9 es 18
La divición de 2 + 9 es 0.2222222222222222

In [45]:
ma=lambda a,b:(a+b,a-b,a*b,a/b)
ma(2,9)

(11, -7, 18, 0.2222222222222222)

##4

In [46]:
def edad(a):
  if a>=18:
    print("eres mayor de edad gei")
  else:
    print("eres menor de edad, gei jaj")
    return
edad(19)

eres mayor de edad

In [ ]:
edad=lambda a:("eres mayor de edad jaja" if a>=18  else "eres menor de edad gei")
edad(13)

'eres menor de edad'

##5

In [ ]:
def pali(t):
  if t == t[::-1]:
    print("es palindromo")
  else:
    print("no es palindromo")
pali("woli")

no es palindromo

In [ ]:
pali=lambda t: "es palindromo" if t==t[::-1] else "no es palindromo"
pali("aña")

'es palindromo'

##6

In [50]:
def y(g):
  print(len(g))
y("hola")
y("jajajajajajja")

4
13

In [ ]:
y=lambda g: len(g)
y("tolo")

4

##7

In [ ]:
def t(f):
  return sum(f)
print(t([1,2,3,4,5]))

15

In [51]:
t=lambda f:sum(f)
print(t([1, 2, 3, 4, 5]))

15

##8

In [52]:
def f(u):
  print(max(u),min(u))
f([1,2,3,4,5])

5 1

In [53]:
g=lambda u: (max(u),min(u))
print(g([1,2,3,4,5]))

(5, 1)

##9

In [54]:
def k(kl):
  print(kl[::-1])
k([1,2,3,4,5])

[5, 4, 3, 2, 1]

In [56]:
burrito=lambda keloq: (keloq[::-1])
print(burrito([1,2,3,4,5]))

[5, 4, 3, 2, 1]

##10

In [58]:
def rss(dl):
  resultado = []
  for g in dl:
      if g[0].lower() in "aeiouuuu ombe":
        resultado.append(g)
  return resultado

nombres = ["Ana", "Oscar", "Pedro", "Elena", "Uriel", "Sofía", "Ignacio", "María"]
print(rss(nombres))

['Ana', 'Oscar', 'Elena', 'Uriel', 'Ignacio', 'María']

In [60]:
rf = lambda po: [h for h in po if h[0].lower() in "aeiou"]
nombres = ["Ana", "Oscar", "Pedro", "Elena", "Uriel", "Sofía", "Ignacio", "María"]
print(rf(nombres))

['Ana', 'Oscar', 'Elena', 'Uriel', 'Ignacio']

##11

In [ ]:
def v(hg):
 return list(set(hg))
print(v([1, 2, 2, 3, 4, 4, 5, 4, "f", "f"]))

[1, 2, 3, 4, 5, 'f']

In [ ]:
v=lambda hg: list(set(hg))
print(v([1, 2, 2, 3, 4, 4, 5, 4, "f", "f"]))

[1, 2, 3, 4, 5, 'f']

##12

In [64]:
def liluu(primoyprimomasmearrimo):
    war = []
    for n in primoyprimomasmearrimo:
        if n > 1:
            shi = True
            for i in range(2, int(n**0.5) + 1):  # más eficiente
                if n % i == 0:
                    shi = False
                    break
            if shi:
                war.append(n)
    return war

numeros = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17]
print(liluu(numeros))

[2, 3, 5, 7, 11, 13, 17]

In [67]:
rs = lambda zs: [n for n in zs if n > 1 and all(n % i != 0 for i in range(2, n))]
numeros = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17]
print(rs(numeros))

[2, 3, 5, 7, 11, 13, 17]

##13

In [68]:
def ms(diceloluian):
    nombre = diceloluian["nombre"]
    edad = diceloluian["edad"]
    return f"El nombre es {nombre} y tiene {edad} años."
persona = {"nombre": "Ana", "edad": 25}
print(ms(persona))

El nombre es Ana y tiene 25 años.

In [69]:
chi = lambda dic: f"El nombre es {dic['nombre']} y tiene {dic['edad']} años."
persona = {"nombre": "Carlos", "edad": 30}
print(ms(persona))

El nombre es Carlos y tiene 30 años.

##14

In [70]:
def wy(mama):
    ab = 0
    for rt in mama.values():
        ab += rt
    return ab
productos = {"pan": 3000, "leche": 4500, "queso": 12000}
print(wy(productos))

19500

In [71]:
xz = lambda ab: sum(ab.values())
productos = {"pan": 3000, "leche": 4500, "queso": 12000}
print(xz(productos))

19500

##15

In [77]:
def keloq(vibe):
    rz = sum(vibe.values())
    pipi = len(vibe)
    return rz / pipi if pipi > 0 else 0

st = {"Ana": 4.5, "Carlos": 3.8, "María": 4.2}
print(keloq(st))

4.166666666666667

In [ ]:
kl = lambda zx: sum(zx.values()) / len(zx) if len(zx) > 0 else 0
st = {"Ana": 4.5, "Carlos": 3.8, "María": 4.2}
print(kl(st))

4.166666666666667

##16

In [ ]:
def hj(xz, nm):
    return xz[nm] if nm in xz else "no encontrado"
st = {"Ana": 4.5, "Carlos": 3.8, "María": 4.9}
print(hj(st, "Carlos"))
print(hj(st, "Pedro"))

3.8
no encontrado

In [ ]:
hj = lambda xz, nm: xz[nm] if nm in xz else "no encontrado"
st = {"Ana": 4.5, "Carlos": 3.8, "María": 4.9}
print(hj(st, "Ana"))
print(hj(st, "Luis"))

4.5
no encontrado

##17

In [ ]:
def fg(xy):
    ab = max(xy, key=xy.get)
    return ab
st = {"Ana": 4.5, "Carlos": 3.8, "María": 4.9}
print(fg(st))

María

In [ ]:
fg = lambda xy: max(xy, key=xy.get)
st = {"Ana": 4.5, "Carlos": 3.8, "María": 4.9}
print(fg(st))

María

##18

In [ ]:
def rt(qw, vl):
    rs = {}
    for k, v in qw.items():
        if v > vl:
            rs[k] = v
    return rs
pr = {"pan": 3000, "leche": 4500, "queso": 12000, "huevos": 2000}
print(rt(pr, 4000))

{'leche': 4500, 'queso': 12000}

In [ ]:
rt = lambda qw, vl: {k: v for k, v in qw.items() if v > vl}
pr = {"pan": 3000, "leche": 4500, "queso": 12000, "huevos": 2000}
print(rt(pr, 4000))

{'leche': 4500, 'queso': 12000}

##19

In [ ]:
def zx(qw):
    rs = {}
    for k, v in qw.items():
        rs[k] = sum(v)
    return rs
st = {
    "Ana": [5, 6, 4],
    "Carlos": [8, 7, 6],
    "María": [4, 4, 5, 6]
}
print(zx(st))

{'Ana': 15, 'Carlos': 21, 'María': 19}

In [ ]:
zx = lambda qw: {k: sum(v) for k, v in qw.items()}
st = {
    "Ana": [5, 6, 4],
    "Carlos": [8, 7, 6],
    "María": [4, 4, 5, 6]
}
print(zx(st))

{'Ana': 15, 'Carlos': 21, 'María': 19}

##20

In [ ]:
def rt(qw):
    nt = [v["nota"] for v in qw.values() if v["edad"] >= 18]
    return sum(nt) / len(nt) if nt else 0
st = {
    "Ana": {"nota": 4.5, "edad": 17},
    "Carlos": {"nota": 3.8, "edad": 20},
    "María": {"nota": 4.9, "edad": 22}
}
print(rt(st))

4.35

In [ ]:
rt = lambda qw: (sum(v["nota"] for v in qw.values() if v["edad"] >= 18) /
                 len([v for v in qw.values() if v["edad"] >= 18])
                 if any(v["edad"] >= 18 for v in qw.values()) else 0)
st = {
    "Ana": {"nota": 4.5, "edad": 17},
    "Carlos": {"nota": 3.8, "edad": 20},
    "María": {"nota": 4.9, "edad": 22}
}
print(rt(st))